@import '../../styles/box-shadow.scss';
@import '../../styles/page.scss';

.frameworks.page {
  h3 {
    font-weight: 100;
    letter-spacing: 10px;
    text-align:center;
  }

  hr {
    width: 80%;
    border-bottom: 1px grey;
  }

  p {
    text-align:center;
  }
}