@import '../../styles/box-shadow.scss';

.page-header {
  img.profile-pic {
    width: 300px;
    height: auto;
    border-radius: 100px;
    transition: box-shadow 1s;
    margin-left: auto;
    margin-right: auto;
  }
  z-index: 1;

  h4 {
    text-align: center;
  }

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: rgba(145, 145, 145, 0.4);

  .break {
    display: none;
  }

  hr {
    width: 90%;
    border-bottom: 1px solid;
  }

  .description {
    font-weight: 100;
  }

  transition: box-shadow 1s;

  .thin {
    font-weight: 100;
  }
}

.page-header:hover {
  box-shadow: $box-shadow;

  img.profile-pic {
    box-shadow: $box-shadow;
  }
}

.page-header-small {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  flex-direction: row;
  background-color: rgba(145, 145, 145, 0.4);
  align-items: center;
  justify-content: center;
  img.profile-pic {
    display: none;
  }

  .pipe {
    display: none;
  }

  .thin {
    font-weight: 100;
  }

  h4 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: large;
  }
}
