@import '../../styles/box-shadow.scss';
@import '../../styles/page.scss';

.databases.page {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 10px 10px 10px 10px;
}