@import '../../styles/box-shadow.scss';

.accordion {
  box-shadow: $box-shadow;
  .accordion-item {
    .accordion-heading {
      display: flex;
      flex-direction: row;
      align-items: center;
      word-wrap: break-word;

      border-bottom: 1px solid grey;
      img {
        height: 60px;
        width: auto;
      }

      strong {
        margin: 0 15px 0 15px;
      }

      small {
        font-weight: 100;
      }

      svg {
        margin: 0 15px 0 15px;
      }
    }

    .accordion-text {
    }
  }

  .accordion-item.closed {
    .accordion-text {
      display: none;
    }

    .fa-caret-down {
      display: none;
    }
  }

  .accordion-item.open {
    .accordion-text {
      display: block;
    }

    .fa-caret-left {
      display: none;
    }
  }
}
